{% extends 'base.html' %}
{% from 'navbar.html' import navbar %}

{% block style %}
  <style>
    div.suffix {
      width: 60px;
    }

    input {
      text-align: right;
    }
  </style>
{% endblock %}

{% block script %}
  <script>

    var refresh_field_states = function(mode) {
      $manual_power = $('.manual_power');
      $power = $('.field-power');

      $('#{{ form.setpoint.name }}').prop('readonly', mode == 'manual');

      if (mode == 'manual') {
        $manual_power.show();
        $power.hide();
      }
      else {
        $manual_power.hide();
        $power.show();
      }
    };


    $(document).ready(function() {
      // $('#nav-tempctrl').addClass('active')
      refresh_field_states($('#{{ form.mode.name }}').val());

      // Socket data
      var namespace = '/brewctrl'
      var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

      socket.on('process_data', function(data) {
        // current temperature
        $('#field-temp').val(data.temp.toFixed(1));
        // current power
        $('#field-power').val(data.power.toFixed(0));

        if (data.active) {
          $('#output-button').text('Aktiv');
        }
        else {
          $('#output-button').text('Inaktiv');
        }

        // current output state
        var $output_btn = $('#output-button');
        if (data.output) {
          $output_btn.removeClass('btn-default');
          $output_btn.addClass('btn-success');
        }
        else {
          $output_btn.addClass('btn-default');
          $output_btn.removeClass('btn-success');
        }

      });

      // change mode
      $('#{{ form.mode.name }}').change(function() {
        refresh_field_states($(this).val());
      });

    });
  </script>
{% endblock %}

{% macro decimal_field(field, suffix=None, class=None) %}
  <div class="form-group {% if field.errors %} error{% endif %} {{ field.name }}">
    {{ field.label(class="control-label col-md-offset-1 col-md-4") }}
    <div class="col-md-6">
      <div class="input-group">
        {{ field(class="form-control", **kwargs) }}
        {% if suffix %}
          <div class="input-group-addon suffix">{{ suffix }}</div>
        {% endif %}
      </div>

      {% for error in field.errors %}
       <span class="help-inline">{{ error }}</span>
      {% endfor %}
    </div>
  </div>
{% endmacro %}


{% macro disp_decimal_field(id, label, suffix=None) %}
  <div class="form-group {{ id }}">
    <label class="control-label col-md-offset-1 col-md-4">{{ label }}</label>
    <div class="col-md-6">
      <div class="input-group">
        <input id="{{ id }}" class="form-control" readonly type="decimal"/>
        {% if suffix %}
          <div class="input-group-addon suffix">{{ suffix }}</div>
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro %}

{% block navbar %}
  {{ navbar(processdata.active) }}
{% endblock %}

{% block main %}
<legend>Temperaturregelung</legend>
<form method="post">
  {{ form.hidden_tag() }}
  <div class="row">
    <div class="col-md-offset-1 col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading" data-toggle="collapse" data-target="#collapse-status">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse-status">
              Status
            </a>
          </h4>
        </div>
        <div id="collapse-status" class="panel-collapse collapse in">
          <div class="panel-body" id="panel-status">
            <div class="form-horizontal col-md-6">
              {{ decimal_field(form.setpoint, '°C') }}
              {{ disp_decimal_field('field-temp', 'Temperatur:', '°C') }}
              {{ disp_decimal_field('field-power', 'Leistung:', '%') }}
              {{ decimal_field(form.manual_power, '%') }}
            </div>
            <div class="form-horizontal col-md-6">
              <div class="form-group">
                {{ form.mode.label(class="control-label col-md-offset-1 col-md-4") }}
                <div class="col-md-6">
                  {{ form.mode(class="form-control") }}
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-offset-1 col-md-4">Heizung:</label>
                <div class="col-md-6">
                  <span id="output-button" class="btn btn-success col-md-12">Aktiv</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-offset-1 col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading" data-toggle="collapse" data-target="#collapse-settings">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse-settings">
              Einstellungen
            </a>
          </h4>
        </div>
        <div id="collapse-settings" class="panel-collapse collapse in">
          <div class="panel-body" id="panel-settings">
            <div class="form-horizontal col-md-6">
              {{ decimal_field(form.kp, '-') }}
              {{ decimal_field(form.tn, 's') }}
            </div>
            <div class="form-horizontal col-md-6">
              {{ decimal_field(form.duty_cycle, 's') }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <button class="btn btn-default">Speichern</button> oder <a href="{{ url_for('index') }}">Zurück</a>
    </div>
  </div>
</form>

{% endblock %}