{% extends 'base.html' %}
{% from 'common.html' import edit_field, decimal_field %}
{% from 'navbar.html' import navbar %}


{% block navbar %}
  {{ navbar(processdata) }}
{% endblock %}


{% if request.endpoint.endswith('add_step') %}
  {% set title = 'Maischeschritt hinzufügen' %}
{% else %}
  {% set title = 'Maischeschritt bearbeiten' %}
{% endif %}


{% block main %}
<legend> {{ title }}</legend>
<div class="well col-sm-8">
  <form method="post" class="form-horizontal">
    {{ form.hidden_tag() }}
    {{ edit_field(form.name) }}
    {{ decimal_field(form.setpoint, suffix="°C", type="number") }}
    {{ decimal_field(form.timer, suffix="min", type="number") }}
    {{ edit_field(form.comment, rows="5") }}
    <div class="form-actions">
      <button type="submit" class="btn">Save</button>
      or <a href="{{ url_for('steps') }}">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}

