{% extends 'base.html' %}
{% from 'common.html' import edit_field %}
{% from 'navbar.html' import navbar %}

{% block navbar %}
{{ navbar(processdata) }}
{% endblock %}

{% block script %}
{{ super() }}
<script>
  $(document).ready(function() {

    $('#addStepButton').click(function() {
    });

    $('#editStepDialog #okButton').click(function() {
      var data = $('#editStepForm').serialize() + '&receipe_id=' +
                 '{{ receipe.id }}';
      console.log(data);
      $.post("{{ url_for('main.ajax_add_step') }}", data);
      location.reload();
    });

  });
</script>
{% endblock %}

{% block main %}

<div id="editStepDialog" class="modal fade" tabindex=-1 role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Programmschritt bearbeiten</h4>
      </div>
      <div class="modal-body">
        <form id="editStepForm" method="post" class="form">
          <div class="form-group">
            <label for="stepNameInput">Name:</label>
            <input id="stepNameInput" name="name" type="text" class="form-control" placeholder="Schritt">
          </div>
          <div class="form-group">
            <label for="stepSetpointInput">Temperatur:</label>
            <div class="input-group">
              <input id="stepSetpointInput" name="setpoint" type="number" class="form-control" min="0" max="100">
              <div class="input-group-addon">°C</div>
            </div>
          </div>
          <div class="form-group">
            <label for="stepDurationInput">Dauer:</label>
            <div class="input-group">
              <input id="stepDurationInput" name="duration" type="number" class="form-control" min="1" max="240">
              <div class="input-group-addon">Min.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="stepCommentInput">Kommentar:</label>
            <textarea id="stepCommentInput" name="comment" class="form-control" rows=4></textarea>
          </div>
          <div class="checkbox">
            <label>
              <input id="stepEnableMixerCheckbox" name="enable_mixer" type="checkbox"> Rührwerk aktivieren
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="okButton">OK</button>
      </div>
    </div>
  </div>
</div>


<legend>
  {% block legend %}
  {% endblock %}
</legend>

<div class="col-xs-12">
  <form class="form" method="post">

      {{ form.hidden_tag() }}
      {{ edit_field(form.name) }}

    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            Maischeschritte
            <div class="pull-right">
              <a id="addStepButton" href="" class="btn btn-primary btn-xs" title="Schritt hinzufügen" data-toggle="modal" data-target="#editStepDialog"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>Schritt</th>
                <th>Temperatur</th>
                <th>Timer</th>
                <th>Kommentar</th>
              </tr>
            </thead>
            <tbody>
              {% for step in receipe.steps %}
              <tr id="step{{ step.id }}">
                <td>{{ step.name }}</td>
                <td align="center">{{ "{:.0f} °C".format(step.setpoint) }}</td>
                <td align="center">{{ "{} min".format(step.timer) }}</td>
                <td align="left">{% if not step.comment %}-{% else %}{{ step.comment }}{% endif %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {{ form.submit(class='btn') }} oder <a href="">Abbrechen</a>
  </form>
</div>
{% endblock %}
