{% extends 'base.html' %}
{% from 'navbar.html' import navbar %}

{% set title = 'Startseite' %}

{% block navbar %}
  {{ navbar(processdata.active) }}
{% endblock %}

{% block style %}
  <style>{% include 'home/home.css' %}</style>
{% endblock %}

{% block script %}
  <link rel="stylesheet" href="/static/jqwidgets/jqwidgets/styles/jqx.base.css" type="text/css" />
  <script type="text/javascript" src="/static/jqwidgets/jqwidgets/jqxcore.js"></script>
  <script type="text/javascript" src="/static/jqwidgets/jqwidgets/jqxchart.js"></script>
  <script type="text/javascript" src="/static/jqwidgets/jqwidgets/jqxgauge.js"></script>
  <script src="/static/plotly.min.js"></script>
{% endblock %}

{% block main %}
<legend>{{ title }}</legend>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading" data-toggle="collapse" data-target="#collapse-overview">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse-overview">Überblick</a>
        </h4>
      </div>
      <div id="collapse-overview" class="panel-collapse collapse in">
        <div class="panel-body" id="panel-overview">
          {% include "home/overview.html" %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading" data-toggle="collapse" data-target="#collapse-overview">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse-overview">Verlauf</a>
        </h4>
      </div>
      <div id="collapse-overview" class="panel-collapse collapse in">
        <div class="panel-body" id="panel-overview">
          {% include "home/overview.html" %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading" data-toggle="collapse" data-target="#collapse-graph">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse-graph">Ablauf</a>
        </h4>
      </div>
      <div id="collapse-graph" class="panel-collapse collapse in">
        <div class="panel-body" id="panel-graph">
          {% include "home/steps.html" %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

