{% from 'common.html' import decimal_field_vertical %}

<div class="col-sm-4">
  <div class="row">
      <form class="form" method="post">
        {{ form.hidden_tag() }}
        {{ decimal_field_vertical(form.setpoint, '°C', cancel_btn=True) }}
      </form>
  </div>
  <div class="row">
    <div style="position: relative">
      <img id="img-animation" class="img-responsive image" src="static/images/einkocher.jpg"/>
      <div id="gauge" class="gauge"></div>
      <div id="power" class="power"></div>
    </div>
  </div>
</div>
<div class="col-sm-8">
  <div class="col-sm-11">
    <div id="graph"></div>
  </div>
  <div class="col-sm-1">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#" id="btn-reset-graph">Reset</a></li>
    </ul>
  </div>
</div>