<div class="row">
  <div class="col-sm-12">
    <button type="button" class="btn btn-primary">Starten</button>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Temperatur</th>
        <th>Dauer</th>
      </tr>
      {% for step in steps %}
      <tr>
        <td>{{ step.name }}</td>
        <td>{{ step.temp }} °C</td>
        <td>{{ step.timer }} Min.</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>