<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock title %}</title>
  <link rel="shortcut icon" type="image/x-icon"
    href="{{ url_for('static', filename='img/favicon.ico') }}"/>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://bootswatch.com/united/bootstrap.css">
  <script src="/static/jquery-1.11.3.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <script src="/static/jquery-migrate-1.2.1.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  {# Link any other .css or .js found in app static folder. #}
  <!-- Some layout tweeks -->
  <style>
    .content {
      margin-top: 60px;
    }

    .inline-pad {
      padding-left: 10px;
    }

    .edit-controls {
      margin: 1em 0;
    }
  </style>

  <script>
    $(document).ready(function(){
      namespace = '/brewctrl'; // change to an empty string to use the global namespace

      // the socket.io documentation recommends sending an explicit package upon connection
      // this is specially important when using the global namespace
      var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

      $("#clear_data").click(function() {
        socket.emit('clear_data', {});
      });

      $("#start_recording").click(function() {
        socket.emit('start_recording', {});
        $("#start_recording").addClass("disabled");
        $("#stop_recording").removeClass("disabled");
      });

      $("#stop_recording").click(function() {
        socket.emit('stop_recording', {});
        $("#start_recording").removeClass("disabled");
        $("#stop_recording").addClass("disabled");
      });
    });


    $(function() {
      $(".step-delete-link").on("click", function() {
        var delete_url = $(this).attr('data-delete-url');
        $.ajax({
          url: delete_url,
          type: 'DELETE',
          success: function(response) {
            if (response.status == 'OK') {
              window.location = '{{ url_for('index') }}';
            } else {
            alert('Delete failed.')
          }
        }
        });
        return false;
      });
    });
  </script>
  {% block extra_head %}{% endblock extra_head %}
</head>
<body>
  <div id="main">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">Brewctrl</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li id="nav_home"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="dropdown">
              <a id="nav_temp" href="{{ url_for('handle_temp') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Temperaturverlauf<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('handle_temp') }}">Diagramm</a></li>
                <li role="separator" class="divider"></li>
                <li id="start_recording"{% if recording %} class="disabled"{% endif %}><a href="#">Aufzeichnung starten</a></li>
                <li id="stop_recording"{% if not recording %} class="disabled"{% endif %}><a href="#">Aufzeichnung stoppen</a></li>
                <li role="separator" class="divider"></li>
                <li><a id="clear_data" href="{{ url_for('handle_temp') }}">Aufzeichnung löschen</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="content container-fluid">
    {% block main %}{% endblock main %}
  </div>
</body>
</html>