{% macro decimal_field(field, suffix=None, readonly=False, submit_btn=False) %}

  <div class="form-group col-md-3 {% if field.errors %} error{% endif %}">
    {{ field.label(class="control-label") }}
    <div class="input-group">
      {% if suffix %}
        <div class="input-group-addon">{{ suffix }}</div>
      {% endif %}
      {{ field(class="form-control", readonly=readonly) }}
      {% if submit_btn %}
        <span class="input-group-btn">
          <button class="btn" type="submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
        </span>
      {% endif %}

    </div>
    {% for error in field.errors %}
     <span class="help-inline">{{ error }}</span>
    {% endfor %}
  </div>

{% endmacro %}