{% macro decimal_field(field, suffix=None, readonly=False, submit_btn=False) %}
  <div class="form-group col-md-3 {% if field.errors %} error{% endif %}">
    {{ field.label(class="control-label") }}
    <div class="input-group">
      {% if suffix %}
        <div class="input-group-addon">{{ suffix }}</div>
      {% endif %}
      {{ field(class="form-control", readonly=readonly, **kwargs) }}
      {% if submit_btn %}
        <span class="input-group-btn">
          <button class="btn" type="submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
        </span>
      {% endif %}

    </div>
    {% for error in field.errors %}
     <span class="help-inline">{{ error }}</span>
    {% endfor %}
  </div>

{% endmacro %}


{% macro edit_field(field, suffix=None) %}
  <div class="form-group{% if field.errors %} error{% endif %}">
    {{ field.label(class="control-label col-sm-3") }}
    <div class="input-group col-sm-6">
      {% if suffix %}
        <div class="input-group-addon" style="width:60px">{{ suffix }} </div>
      {% endif %}
      {{ field(class="form-control", **kwargs) }}
    </div>
    {% for error in field.errors %}
     <span class="help-inline col-sm-offset-3">{{ error }}</span>
    {% endfor %}
  </div>
{% endmacro %}