{% extends 'base.html' %}

{% from 'common.html' import decimal_field, edit_field %}

{% set title = 'Maischritt bearbeiten' %}

{% block title %}Brewctrl - Home{% endblock %}

{% block main %}

<legend> {{ title }}</legend>
<div class="row">
  <div class="well col-sm-8">
    <form method="post" class="form-horizontal">
      {{ edit_field(form.name) }}
      {{ edit_field(form.temp, suffix="°C", type="number") }}
      {{ edit_field(form.timer, suffix="min", type="number") }}
      {{ edit_field(form.comment, rows="5") }}
      <div class="form-actions">
        <button type="submit" class="btn">Save</button>
        or <a href="{{ url_for('index') }}">Cancel</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}

