{% extends 'base.html' %}
{% from 'navbar.html' import navbar %}

{% set title = 'Startseite' %}

{% block navbar %}
  {{ navbar(processdata.active) }}
{% endblock %}


{% block style %}
  <style>
    .progress.vertical {
        position: relative;
        width: 20px;
        min-height: 240px;
        float: left;
        margin-right: 20px;
        background: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border: none;
    }
  </style>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    $(document).ready(function() {

    });
  </script>

{% endblock %}

{% block main %}
  <legend>{{ title }}</legend>

  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div id="gauge"></div>
      <img src="static/images/einkocher.jpg"/>
    </div>
  </div>

  <div class="row">

  </div>
{% endblock %}

