{% extends 'base.html' %}

{% set title = 'Maischeverlauf' %}

{% block title %}Brewctrl - Home{% endblock %}

{% block main %}
    <script src="/static/socket.io-1.3.7.js"></script>
    <script src="/static/plotly.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
          namespace = '/brewctrl'; // change to an empty string to use the global namespace

          // the socket.io documentation recommends sending an explicit package upon connection
          // this is specially important when using the global namespace
          var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

          document.getElementById('nav_home').className="active"
        });
    </script>

    <legend> {{ title }} </legend>
    <div class="col-md-6">
      <table class="table table-hover">
        <th>Schritt</th>
        <th align="center">Temperatur</th>
        <th align="center">Timer</th>
        <th/>
        {% for step in steps %}
          <tr>
            <td>{{ step.name }}</td>
            <td align="center">{{ "{:.0f} °C".format(step.temp) }}</td>
            <td align="center">{{ "{} min".format(step.timer) }}</td>
            <td><a href="{{ url_for('handle_edit', step_id=step.id) }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
          </tr>
        {% endfor %}
      </table>
    </div>
{% endblock %}

