{% extends 'base.html' %}

{% from 'common.html' import decimal_field %}

{% set title = 'Temperatur' %}

{% block title %} Brewctrl - Temperatur {% endblock %}

{% block main %}
  <script src="/static/socket.io-1.3.7.js"></script>
  <script src="/static/plotly.min.js"></script>
  <script type="text/javascript" charset="utf-8">
      $(document).ready(function(){
        namespace = '/processdata';
        var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

          // setup plotly
          var graphs = {{graphJSON | safe}};
          var ids = {{ids | safe}};

          for(var i in graphs) {
              Plotly.plot(ids[i], // the ID of the div, created above
                          graphs[i].data,
                          graphs[i].layout || {});

          }

        socket.on('pd_temp', function(data) {
          console.log(data)
          $('#{{ form.cur_temp.name }}').val(data.temp.toFixed(1));

          graphs[0].data[0].x.push(data.time);
          graphs[0].data[0].y.push(data.temp);

          Plotly.redraw(ids[0]);
        });
      });

  </script>

  <legend> {{ title }}</legend>
  <div class="well">
    <div class="row">
      <form>
          {{ decimal_field(form.cur_sp, "°C") }}
          {{ decimal_field(form.cur_temp, "°C", readonly=True) }}
      </form>
    </div>
    {% for id in ids %}
      <div id="{{id}}">
      </div>
    {% endfor %}
  </div>
{% endblock %}