{% extends 'base.html' %}
{% from 'common.html' import edit_field %}
{% from 'navbar.html' import navbar %}

{% block navbar %}
{{ navbar(processdata) }}
{% endblock %}

{% block script %}
{{ super() }}
<script>
  $(document).ready(function() {

    // add step button opens modal containing step form loaded via ajax
    $('#addStepButton').click(function() {
      $.get("{{ url_for('main.create_step', receipe_id=receipe.id) }}", function(data) {
        $('#dialog').html('');
        $('#dialog').html(data);
        $('#stepDialog').modal();
      });
    });

    $('a#step-name').click(function(event) {
      event.preventDefault();
      var url = $SCRIPT_ROOT + '/steps/' + $(this).data('step-id') ;
      $.get(url, function(data) {
        $('#dialog').html('');
        $('#dialog').html(data);
        $('#stepDialog').modal();

        $('#submit').click(function(event) {
          event.preventDefault();
          $.post(url, data=$('#stepForm').serialize(), function(data) {
          });
        });
      });
    });

  });
</script>
{% endblock %}

{% block main %}
<div id="dialog">
</div>

<legend>
  {% block legend %}
  {% endblock %}
</legend>

<div class="col-xs-12">
  <form class="form" method="post">

      {{ form.hidden_tag() }}
      {{ edit_field(form.name) }}

    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            Maischeschritte
            <div class="pull-right">
              <a id="addStepButton" class="btn btn-primary btn-xs" title="Schritt hinzufügen"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>Schritt</th>
                <th>Temperatur</th>
                <th>Dauer</th>
                <th>Kommentar</th>
              </tr>
            </thead>
            <tbody>
              {% for step in receipe.steps %}
              <tr id="step{{ step.id }}">
                <td><a id="step-name" href="" data-step-id="{{ step.id }}">{{ step.name }}</a></td>
                <td align="center">{{ "{:.0f} °C".format(step.setpoint) }}</td>
                <td align="center">{{ "{} Min.".format(step.duration) }}</td>
                <td align="left">{% if not step.comment %}-{% else %}{{ step.comment }}{% endif %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {{ form.submit(class='btn') }} oder <a href="">Abbrechen</a>
  </form>
</div>
<div class="test">
</div>
{% endblock %}
