{% extends 'base.html' %}
{% from 'common.html' import edit_field %}
{% from 'navbar.html' import navbar %}

{% block navbar %}
{{ navbar(processdata) }}
{% endblock %}

{% block script %}
{{ super() }}
<script>
  $(document).ready(function() {
    $('#addStepButton').click(function() {
      $.get("{{ url_for('main.create_step', receipe_id=receipe.id) }}", function(data) {
        $('.modal-body').html(data);
        $('#editStepDialog').modal();
      });
    });

    $('#stepForm #submit').click(function(event) {
      alert('click');
      event.preventDefault();
      var form = $(this);
      $.ajax({
        type: form.attr('method'),
        url: form.attr('action'),
        data: form.serialize(),
      }).done(function(data){
        // optional success message
      }).fail(function(data){
        // optional fail message
      });
    });
  });
</script>
{% endblock %}

{% block main %}
<div id="editStepDialog" class="modal fade" tabindex=-1 role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Programmschritt bearbeiten</h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

<legend>
  {% block legend %}
  {% endblock %}
</legend>

<div class="col-xs-12">
  <form class="form" method="post">

      {{ form.hidden_tag() }}
      {{ edit_field(form.name) }}

    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            Maischeschritte
            <div class="pull-right">
              <a id="addStepButton" class="btn btn-primary btn-xs" title="Schritt hinzufügen"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>Schritt</th>
                <th>Temperatur</th>
                <th>Dauer</th>
                <th>Kommentar</th>
              </tr>
            </thead>
            <tbody>
              {% for step in receipe.steps %}
              <tr id="step{{ step.id }}">
                <td>{{ step.name }}</td>
                <td align="center">{{ "{:.0f} °C".format(step.setpoint) }}</td>
                <td align="center">{{ "{} Min.".format(step.duration) }}</td>
                <td align="left">{% if not step.comment %}-{% else %}{{ step.comment }}{% endif %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {{ form.submit(class='btn') }} oder <a href="">Abbrechen</a>
  </form>
</div>
<div class="test">
</div>
{% endblock %}
