{% macro edit_field(field) %}
  <div class="form-group {% if field.errors %} error{% endif %} {{ field.name }}">
    {{ field.label(class="control-label") }}
    {{ field(class="form-control", **kwargs) }}
    {% for error in field.errors %}
     <span class="help-inline">{{ error }}</span>
    {% endfor %}
  </div>
{% endmacro %}

{% macro decimal_field(field, suffix=None, class=None, accept_btn=False, cancel_btn=False) %}
  <div class="form-group {% if field.errors %} error{% endif %} {{ field.name }}">
    {{ field.label(class="control-label col-sm-offset-1 col-sm-4") }}
    <div class="col-sm-6">
      <div class="input-group">
        {{ field(class="form-control", type="number", style="text-align: right", **kwargs) }}
        {% if suffix %}
          <div class="input-group-addon suffix">{{ suffix }}</div>
        {% endif %}
      </div>
      {% for error in field.errors %}
       <span class="help-inline">{{ error }}</span>
      {% endfor %}
    </div>
    {% if cancel_btn %}
      <div id="{{ field.name }}-cancel" class="btn btn-hidden">
        <span class="glyphicon glyphicon-remove pull-left"></span>
      </div>
    {% endif %}
  </div>
{% endmacro %}

{% macro decimal_field_vertical(field, suffix=None, class=None) %}
  <div class="form-group {% if field.errors %} error{% endif %} {{ field.name }}">
    {{ field.label(class="control-label") }}
    <div class="input-group">
      {{ field(class="form-control", type="number", style="text-align: right", **kwargs) }}
      {% if suffix %}
        <div class="input-group-addon suffix">{{ suffix }}</div>
      {% endif %}
    </div>
    {% for error in field.errors %}
     <span class="help-inline">{{ error }}</span>
    {% endfor %}
  </div>
{% endmacro %}

{% macro modal(id, title, label) %}
<div id="{{ id }}" class="modal fade" tabindex=-1 role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{ title }}</h4>
        </div>
        <div class="modal-body">
          {{ label }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
          <input type="submit" class="btn btn-primary" value="OK">
        </div>
    </div>
  </div>
</div>
{% endmacro %}