{% extends 'base.html' %}
{% from 'navbar.html' import navbar %}
{% from 'common.html' import decimal_field_vertical %}

{% block navbar %}
{{ navbar(processdata) }}
{% endblock %}

{% block script %}
<link rel="stylesheet" href="/static/jqwidgets/jqwidgets/styles/jqx.base.css" type="text/css"/>
<script type="text/javascript" src="/static/jqwidgets/jqwidgets/jqxcore.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqwidgets/jqxchart.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqwidgets/jqxgauge.js"></script>
<script src="/static/plotly.min.js"></script>
<script>
  var curent_data = null;

  var data = {
    'time': [],
    'temp': [],
    'setpoint': [],
    'power': []
  };

  $(document).ready(function() {
    var screen_width = window.innerWidth;

    // show setpoint ok and cancel button when user change setpoint
    $('#setpoint').keydown(function() {
      $('#setpoint-cancel').fadeIn('slow');
    });

    // cancel user input
    $('#setpoint-cancel').click(function() {
      $('#setpoint').val(current_data.temp_setpoint);
      $(this).fadeOut('slow');
    });

    // Socket data
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    // diagram init
    var graph = $('#trendDiv').get(0);
    var graph_data = {{ graph_data | tojson }}

    data.time = graph_data.time;
    data.temp = graph_data.temp;
    data.setpoint = graph_data.temp_setpoint;
    data.power = graph_data.power;

    var trace_temp = {
      x: data.time,
      y: data.temp,
      name: "Temperatur"
    };

    var trace_setpoint = {
      x: data.time,
      y: data.setpoint,
      name: "Sollwert"
    };

    var trace_power = {
      x: data.time,
      y: data.power,
      opacity: 0.3,
      name: "Heizleistung"
    };

    // init plot
    var small_layout = {
      margin: {
        l: 30,
        r: 0,
        b: 20,
        t: 0,
        pad: 4
      },
      height: 200,
      yaxis: {
        title: '',
        range: [0, 100]
      },
      legend: {
        x: 0.02,
        y: 1.02,
        traceorder: 'normal',
        font: {
          family: 'sans-serif',
          size: 12,
          color: '#000'
        },
        bordercolor: '#FFFFFF',
        borderwidth: 2
      }
    };

    var large_layout = {
      margin: {
          l: 60,
          r: 0,
          b: 50,
          t: 0,
          pad: 4
      },
      height: 400,
      yaxis: {
        title: '°C',
        range: [0, 100]
      },
      legend: {
        x: 0.02,
        y: 1.02,
        traceorder: 'normal',
        font: {
          family: 'sans-serif',
          size: 12,
          color: '#000'
        },
        bordercolor: '#FFFFFF',
        borderwidth: 2
      }
    };

    if (screen_width <= 767) {
      layout = small_layout;
    }
    else {
      layout = large_layout;
    };

    Plotly.plot(
      graph,
      [trace_temp, trace_setpoint, trace_power],
      layout,
      {
        displayModeBar: false,
        staticPlot: true
      }
    );

    // socket action
    socket.on('process_data', function(curr_data) {

      current_data = curr_data;

      // Add data to graph
      data.time.push(curr_data.datetime);
      data.temp.push(curr_data.temp_actual);
      data.setpoint.push(curr_data.temp_setpoint);
      data.power.push(curr_data.tempctrl_power)

      Plotly.redraw(graph);

      // Show current Temp in gauge
      $('#power').text(curr_data.tempctrl_power.toFixed(0) + "%")
      $('#temp').text(curr_data.temp_actual.toFixed(1) + "°C")
      $('#gauge').jqxLinearGauge('value', curr_data.temp_actual);
      if (curr_data.heater_enabled) {
        $('#heaterStateLight').css('background-color', 'red');
      }
      else {
        $('#heaterStateLight').css('background-color', 'darkgray');
      }

      // if (curr_data.sequence.step_changed) {
      //   $('input#setpoint').val(current_data.temp_setpoint);
      // }
    });

    // reset graph button
    $('#btn-reset-graph').click(function() {
      socket.emit('reset_graph');
      $.each(data, function(index, item) {
        item.length = 0;
      });

      Plotly.redraw(graph);
    });

    // resize plotly with window
    $(window).resize(function() {
      Plotly.Plots.resize(graph);
    });

    // image size and gauge initialisation
    $('#img-animation').one('load', function() {
      var width = $('#img-animation').width();
      var height = $('#img-animation').height();

      // gauge init
      $('#gauge').jqxLinearGauge({
          max: 100,
          min: 0,
          background: { visible: false},
          pointer: { size: '5%' },
          colorScheme: 'scheme03',
          ticksMajor: { size: '10%', interval: 10 },
          ticksMinor: { size: '5%', interval: 2.5, style: { 'stroke-width': 1, stroke: '#aaaaaa'} },
          value: 0,
          width: 70,
          height: height,
          labels: { interval: 10, formatValue: function (value, position) {
            if (position === 'far') {
                return value;
            }
            else if (position === 'near') {
              if (value == 100) {
                  return '°C';
              }
            }
          },
          ranges: [
            { startValue: 20, endValue: 45, style: { fill: '#FFA200', stroke: '#FFA200' }}
          ],
          showRanges: true
        }
      });

      // gauge position
      $('#gauge').css('top', 0 + 'px');
      $('#gauge').css('left', width + 'px');

    }).each(function() {
        if(this.complete) {
          $(this).load();
        }
    });
  });

</script>
{% endblock %}


{% block main %}
<div class="row">

  <!-- Graphical overview -->
  <div class="col-md-4">
    <div id="overviewPanel" class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          Überblick
        </h4>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <form class="form" method="post">
              {{ form.hidden_tag() }}
              {{ decimal_field_vertical(form.setpoint, '°C') }}
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div style="position: relative">
              <img id="img-animation" class="img-responsive image" src="static/images/einkocher.jpg"/>
              <div id="gauge" class="gauge"></div>
              <div id="power" class="power"></div>
              <div id="temp" class="temp"></div>
              <div id="heaterStateLight" title="Heizer ein/aus"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Receipe Panel  -->
  <div class="col-md-8">
    <div id="receipePanel" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Aktuelles Rezept:{% if current_receipe %} {{ current_receipe.name }}{% endif %}</h3>
      </div>
      <div class="panel-body">
      {% if current_receipe %}
      <table class="table">
        <tr>
          <th>Schritt</th>
          <th>Temperatur</th>
          <th>Dauer</th>
        </tr>
        {% for step in current_receipe.steps %}
        <tr>
          <td>{{ step.name }}</td>
          <td>{{ step.setpoint }} °C</td>
          <td>{{ step.duration }} Min.</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- Diagram Panel -->
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"> Verlauf </h4>
      </div>
      <div class="panel-body" id="trendPanel">
        <div id="trendDiv"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

