{% macro navbar(tempctrl_active) %}

<script>
  $(document).ready(function() {
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    if ("{{ tempctrl_active }}" == "True") {
      $('#nav-btn-tempctrl-active').addClass('btn-success');
    }

    $('#nav-btn-tempctrl-active').click(function() {
      $(this).toggleClass('btn-success');

      var active = $(this).hasClass('btn-success');
      socket.emit('enable_tempctrl', {'data': active});
    });

    $('#nav-btn-mixer-active').click(function() {
      $(this).toggleClass('btn-success');

      var active = $(this).hasClass('btn-success');
      socket.emit('enable_mixer', {'data': active});
    })

    socket.on('process_data', function(data) {
      var datetime = data.time.split(' ');
      var date = datetime[0].split('-');
      date = date[2] + '.' + date[1] + '.' + date[0];
      var time = datetime[1].split('.')[0];

      $('#nav-clock').text(date + ' ' + time);
    });
  });
</script>

<ul class="nav navbar-nav navbar-left">
  <li id="nav_home"><a href="{{ url_for('main.index') }}">Home</a></li>

  <li class="dropdown">
    <a id="nav-progress" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
      Messdaten
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="">Anzeigen</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Laden...</a></li>
      <li><a href="#">Speichern...</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Aufzeichnung starten</a></li>
      <li class="disabled"><a href="#">Aufzeichnung anhalten</a></li>
      <li class="disabled"><a href="#">Aufzeichnung stoppen</a></li>
    </ul>
  </li>

  <li class="drowdown">
    <a href="#" class="drowdown-toggle" data-toggle="dropdown" role="button">Einstellungen<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li id="nav-edit-steps"><a href="">Schritte bearbeiten</a></li>
      <li id="nav-tempctrl"><a href="">Temperaturregelung</a></li>
    </ul>
  </li>

  <li><button id="nav-btn-tempctrl-active" class="btn navbar-btn">Temperaturregler</button></li>

  <li><button id="nav-btn-mixer-active" class="btn navbar-btn">Rührwerk</button></li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li><a id="nav-clock">Uhrzeit</a></li>
</ul>

{% endmacro %}